#learn {
  justify-content: space-between;

  #task {
    @include flexCenter;
  }
  #congrats {
    @include flexCenter;

    p {
      background-color: $primary-color;
      cursor: pointer;
      padding: 1em 1em 1em 1em;
    }
  }
  .gestureImg {
    height: 80px;
    width: 80px;
  }
}
